# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing and build outputs
/dist
/build
client/dist/
*.log

# Environment variables & secrets
.env
**/.env
.env*.local
**/.env*.local
!.env.example
!**/.env.example

# Local database & uploaded files
.data/
uploads/*
!uploads/.gitkeep

# System files
.DS_Store
Thumbs.db
